.sub-item-link {
text-decoration: none; 
}


.sub-item-link:link {
  color: brown;
}


.sub-item-link:visited{
  color: red;
}


.sub-item-link:hover {
  color: pink;
}


.sub-item-link:active {
  color: yellow;
}


.sub-item-link:focus {
  outline: 2px dashed blue;
}
